@font-face {
	font-family: "icons";
	src: url('../fonts/iconfonts/icons.eot');
	src: url('../fonts/iconfonts/icons.eot?#iefix') format('eot'),
		url('../fonts/iconfonts/icons.woff2') format('woff2'),
		url('../fonts/iconfonts/icons.woff') format('woff'),
		url('../fonts/iconfonts/icons.ttf') format('truetype'),
		url('../fonts/iconfonts/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-add:before {
	content: "\E001";
}

.icon-close:before {
	content: "\E002";
}

.icon-del:before {
	content: "\E003";
}

.icon-edit:before {
	content: "\E004";
}

.icon-lock:before {
	content: "\E005";
}

.icon-search:before {
	content: "\E006";
}

.icon-success:before {
	content: "\E007";
}

.icon-unlock:before {
	content: "\E008";
}
